{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/impressum.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">

{% endblock cssfile %}

{% block title %}
Willkommen net NetImmobilien
{% endblock title%}



{% block content %}

<div class="impressumcont">
    <div class="imprhead">
        <h1>AGB.</h1>
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 1 Weitergabeverbot.
        </h1>
        <p class="p2">Sämtliche Informationen einschließlich der Objektnachweise des Maklers sind
            ausdrücklich für den Kunden bestimmt. Diesem ist es ausdrücklich untersagt, die
            Objektnachweise und Objektinformationen ohne ausdrückliche Zustimmung des
            Maklers, die zuvor schriftlich erteilt werden muss, an Dritte weiter zu geben. Verstößt
            ein Kunde gegen diese Verpflichtung und schließt der Dritte oder andere Personen, an
            die der Dritte seinerseits die Informationen weitergegeben hat, den Hauptvertrag ab, so
            ist der Kunde verpflichtet, dem Makler die mit ihm vereinbarte Provision zuzüglich
            Mehrwertsteuer zu entrichten.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 2 Doppeltätigkeit.
        </h1>
        <p class="p2">Der Makler darf sowohl für den Verkäufer als auch für den Käufer tätig werden.
        </p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 3 Eigentümerangaben.
        </h1>
        <p class="p2">Der Makler weist darauf hin, dass die von ihm weitergegebenen Objektinformationen
            vom Verkäufer bzw. von einem vom Verkäufer beauftragten Dritten stammen und von
            ihm, dem Makler, auf ihre Richtigkeit nicht überprüft worden sind. Es ist Sache des
            Kunden, diese Angaben auf ihre Richtigkeit hin zu überprüfen. Der Makler, der diese
            Informationen nur weitergibt, übernimmt für die Richtigkeit keinerlei Haftung.
        </p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 4 Informationspflicht.</h1>
        <p class="p2">Der Auftraggeber (Eigentümer) wird verpflichtet, vor Abschluss des beabsichtigten
            Kaufvertrages unter Angabe des Namens und der Anschrift des vorgesehenen
            Vertragspartners bei dem Makler rückzufragen, ob die Zuführung des vorgesehenen
            Vertragspartners durch dessen Tätigkeit veranlasst wurde. Der Auftraggeber erteilt
            hiermit dem Makler Vollmacht zur Einsichtnahme in das Grundbuch, in behördliche
            Akten, insbesondere Bauakten sowie alle Informations- und Einsichtsrechte gegenüber
            dem WEG-Verwalter, wie sie dem Auftraggeber als Wohnungseigentümer zustehen.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 5 Ersatz- und Folgegeschäfte</h1>
        <p class="p2">Eine Honorarpflicht des Auftraggebers gemäß unseren vereinbarten Provisionssätzen
            besteht auch bei einem Ersatzgeschäft. Ein solches liegt z. B. vor, wenn der
            Auftraggeber im Zusammenhang mit der vom Makler entfalteten Tätigkeit von seinem
            potenziellen und vom Makler nachgewiesenen Hauptvertragspartner eine andere
            Gelegenheit zum Hauptvertragsabschluss erfährt oder über die nachgewiesene
            Gelegenheit mit dem Rechtsnachfolger des potenziellen Hauptvertragspartners den
            Hauptvertrag abschließt oder das nachgewiesene Objekt käuflich erwirbt, anstatt es zu
            mieten, zu pachten bzw. umgekehrt. Um die Provisionspflicht bei Ersatzgeschäften
            auszulösen, ist es nicht erforderlich, dass das provisionspflichtige Geschäft mit dem
            ursprünglich vorgesehenen wirtschaftlich gleichwertig im Sinne der von der
            Rechtsprechung zum Begriff der wirtschaftlichen Identität entwickelten
            Voraussetzungen sein muss.</p>
    
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§ 6 Aufwendungsersatz.</h1>
        <p class="p2">Der Kunde ist verpflichtet, dem Makler die in Erfüllung des Auftrages entstandenen,
            nachzuweisenden Aufwendungen (z.B. Insertionen, Internetauftritt, Telefonkosten,
            Porti kosten, Objektbesichtigungen und Fahrtkosten) zu erstatten, wenn ein
            Vertragsabschluss nicht zustande kommt.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 7 Haftungsbegrenzung.</h1>
        <p class="p2">Die Haftung des Maklers wird auf grob fahrlässiges oder vorsätzliches Verhalten
            begrenzt, soweit der Kunde durch das Verhalten des Maklers keinen Körperschaden
            erleidet oder sein Leben verliert.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 8 Verjährung.</h1>
        <p class="p2">Die Verjährungsfrist für alle Schadensersatzansprüche des Kunden gegen den Makler
            beträgt 3 Jahre. Sie beginnt mit dem Zeitpunkt, in dem die die
            Schadensersatzverpflichtung auslösende Handlung begangen worden ist. Sollten die
            gesetzlichen Verjährungsregelungen im Einzelfall für den Makler zu einer kürzeren
            Verjährung führen, gelten diese.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§ 9 Gerichtsstand.</h1>
        <p class="p2">Die Verjährungsfrist für alle Schadensersatzansprüche des Kunden gegen den Makler
            beträgt 3 Jahre. Sie beginnt mit dem Zeitpunkt, in dem die die
            Schadensersatzverpflichtung auslösende Handlung begangen worden ist. Sollten die
            gesetzlichen Verjährungsregelungen im Einzelfall für den Makler zu einer kürzeren
            Verjährung führen, gelten diese.</p>
    
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§ 10 Salvatorische Klausel.
        </h1>
        <p class="p2">Sollte eine oder mehrere der vorstehenden Bestimmungen ungültig sein, so soll die
            Wirksamkeit der übrigen Bestimmungen hiervon nicht berührt werden. Dies gilt auch,
            wenn innerhalb einer Regelung ein Teil unwirksam ist, ein anderer Teil aber wirksam.
            Die jeweils unwirksame Bestimmung soll zwischen den Parteien durch eine Regelung
            ersetzt werden, die den wirtschaftlichen Interessen der Vertragsparteien am nächsten
            kommt und im Übrigen den vertraglichen Vereinbarungen nicht zuwiderläuft.</p>
    
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§11 Geltungsbereich.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b>Die Internetseite www.netimmobilien.com wird von der NetImmobilien, Dotzheimer Straße 14, 65185 Wiesbaden, (nachfolgend „Tumuratas Group“) betrieben. Mit dieser Website wollen wir Vermieter, Verkäufer, Hausverwaltungen und Immobilienfonds 
                (nachfolgend „Kunden“) und sowie Mieter und Käufer (nachfolgend „Interessenten“) unserer Website über unsere Dienste informieren.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>Die vorliegenden Allgemeinen Geschäftsbedingungen (nachfolgend „AGB“) gelten für die Nutzung unserer 
                Website und die Inanspruchnahme unserer Dienste.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Der Kunde geht in Übereinstimmung mit den AGB eine vertragliche Beziehung bezüglich der Vermarktung einer Immobilie mit Tumuratas Group ein. 
                Gegenstand der vertraglichen Beziehung können dabei sein:</p>
        </div>
        <div class="einr2">
            <p class="p2"><b>I) </b>die Erstellung eines Gutachtens inklusive einer Wohnraumanalyse sowie einer Immobilienbewertung, 
                Dienstleistungen entlang des Vermittlungsprozesses 
                von der Exposé-Erstellung über das Einstellen der Immobilie in alle gängigen Immobilienportale, </p>
        </div>
        <div class="einr2">
            <p class="p2"><b>II) </b>die Interessentenkommunikation,</p>
        </div>
        <div class="einr2">
            <p class="p2"><b>III) </b>die Mieterselektion,</p>
        </div>
        <div class="einr2">
            <p class="p2"><b>IV) </b>die Unterstützung bei den Verhandlungen einschließlich Organisation eines Notartermins und </p>
        </div>
        <div class="einr2">
            <p class="p2"><b>V) </b>die Übergabe der Immobilie an einen Mieter oder Erwerber.</p>
        </div>
    
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§12 Dienstleistungsspektrum von NetImmobilien.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b>Allgemeines NetImmobilien verfügt bei der Erstellung seiner Dienstleistungen, insbesondere bei der Exposé-Erstellung über Gestaltungsfreiheit. 
                Tumuratas Group wird dabei die bei Verkauf bzw. Vermietung gebräuchlichen und zweckmäßigen Angaben in das Exposé aufnehmen. Der Kunde kann NetImmobilien mit einer kostenfreien Immobilienbewertung beauftragen. Bestandteil dieser Immobilienbewertung ist unter anderem eine Wohnraumanalyse sowie eine grobe Wertermittlung der Immobilie im Verkaufsfall 
                oder eine erste Mietpreisempfehlung im Vermietungsfall.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>Kosten- und Vergütungsstruktur: Die Erstellung des Exposés wird erst bei Vermittlungserfolg 
                als Teil der Gesamtdienstleistung kostenpflichtig. Bei Ausbleiben des Vermittlungserfolgs fällt keine Vergütung für die 
                Erstellung des Exposés an, sofern nicht im Einzelfall etwas anderes vereinbart wurde. Die Kosten der Beschaffung der für die Erstellung des Exposés notwendigen Informationen oder sonstiger notwendiger Mitwirkungsverhandlungen trägt der Kunde. Vermittlungsaufträge von gewerblichen Auftraggebern und für mehrere Wohneinheiten bedürfen einer individuellen Vereinbarung, die schriftlich getroffen wird. Die Provision bei Vermietungsaufträgen gilt pro Wohneinheit und nur für Privatpersonen. Die erfolgsbasierte Provision bei Verkaufsaufträgen folgt individuellen Vereinbarungen zwischen Verkäufer und NetImmobilien bzw. 
                Käufer/Interessent und Tumuratas Group.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Exposé-Verwendung durch NetImmobilien: Wird die Zusammenarbeit zwischen dem Kunden und NetImmobilien beendet, 
                wird NetImmobilien das Exposé sowie alle Daten, Informationen und Materialien, die NetImmobilien für die Erstellung des Exposés vom Kunden 
                erhalten oder selbst erstellt hat, vernichten bzw. löschen. Dies gilt nicht, sofern gesetzliche Aufbewahrungspflichten bestehen. NetImmobilien behält sich ferner vor, 
                selbst erstellte Materialien in anonymisierter Form zu behalten und zu verwenden.</p>
        </div>


        <div class="einr">
            <p class="p2"><b>d) </b>Besichtigung der Immobilie: Zur Aufnahme wird NetImmobilien mit dem Kunden Termine für die Besichtigung der Immobilie abstimmen 
                (nachfolgend “Besichtigungstermin”). Der Kunde muss vereinbarte Termine einhalten und Tumuratas Group am Besichtigungstermin Zutritt zur Immobilie gewähren, 
                so dass NetImmobilien die für die Erstellung des Exposés erforderlichen Fotos und Vermessungen der Immobilie erstellen bzw. durchführen kann. 
                Die Einholung der Erlaubnis von Mietern, Fotografien anzufertigen, erfolgt durch den Verkäufer.</p>
        </div>

        <div class="einr">
            <p class="p2"><b>e) </b>Haftung für Angaben in dem Exposé: Tumuratas Group übernimmt keine Gewähr für Vollständigkeit und Richtigkeit der im 
                Exposé zur Verfügung gestellten Informationen. Der Kunde hat das Exposé sorgfältig zu prüfen und Tumuratas Group auf etwaige Unrichtigkeiten hinzuweisen. 
                Darüber hinaus geben die Fotos einen zum Tag der Fotoaufnahme entstandenen Zustand wieder, der zum Zeitpunkt von Besichtigungen und Wohnungsübergabe nicht 
                zwangsläufig dem dann bestehenden Zustand entsprechen muss. Für die Übereinstimmung zwischen dem auf Fotos dargestellten Zustand und im Laufe des Vermarktungsprozesses entstehenden Zuständen übernimmt Tumuratas Group keine Gewähr. 
                Der Kunde ist für die Richtigkeit der Angaben im Exposé verantwortlich.</p>
        </div>
       
    
    </div>





    <div class="storyitem2 mrgtp">
        <h1>§13 Nutzungsrechte.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b>NetImmobilien stellt das Exposé auf ausgewählten Portalen zur Verfügung. 
                Der Kunde erhält keine Rechte zur Nutzung der im Exposé dargestellten Inhalte. Unter die dargestellten Inhalte fallen die Fotos, der Grundriss sowie die im Aufnahmeprozess 
                festgehaltenen und im Exposé präsentierten Inhalte.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>Der Kunde erhält keine eigenen Nutzungsrechte an den Inhalten des Exposés. Alle Rechte zur Nutzung von Inhalten, 
                die von NetImmobilien erstellt wurden, stehen NetImmobilien zu. Darunter fallen insbesondere die aufgenommenen Informationen, die erstellten Texte, der Grundriss und die Fotos. Der Kunde darf ohne vorherige schriftliche Zustimmung von NetImmobilien solche Inhalte insbesondere nicht vervielfältigen und anderweitig selbst bereitstellen. Dieser Absatz gilt nicht für Materialien, 
                die der Kunde NetImmobilien zur Darstellung der Immobilie zur Verfügung stellt.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Die Nutzung der durch NetImmobilien erstellten Inhalte durch den Kunden ist ausschließlich für individuelle und nichtkommerzielle Zwecke zulässig. 
                Kunden dürfen die durch Online-Abfrage gewonnen Daten weder vollständig, noch teilweise oder auszugsweise zum Aufbau einer eigenen Datenbank in jeder medialen Form und/oder für eine gewerbliche Datenverwertung oder 
                Auskunftserteilung und/oder für eine sonstige gewerbliche Verwertung verwenden.</p>
        </div>


        <div class="einr">
            <p class="p2"><b>d) </b>Aktivitäten von Kunden und Interessenten, 
                die darauf gerichtet sind, die Nutzung unserer Dienste zu erschweren, sind untersagt.</p>
        </div>

        <div class="einr">
            <p class="p2"><b>e) </b>Nutzer dürfen ohne unsere ausdrückliche schriftliche Zustimmung nicht Teile unseres Dienstes systematisch extrahieren und/oder wiederverwenden. Insbesondere dürfen Nutzer ohne die ausdrückliche schriftliche Zustimmung von NetImmobilien kein Data Mining, keines Robotes oder ähnliche Datensammel- und Extraktionsprogramme einsetzen, um irgendwelche wesentlichen Teile unseres Dienstes zur Wiederverwendung zu extrahieren.
            </p>
        </div>
        <div class="einr">
            <p class="p2"><b>f) </b>Die Verlinkung, Integration oder sonstige Verknüpfung unseres Dienstes ohne ausdrückliche schriftliche Zustimmung von NetImmobilien ist nicht gestattet.
            </p>
        </div>
        <div class="einr">
            <p class="p2"><b>g) </b>Darstellung und Funktionsumfang des Dienstes können sich je nach Zugangsart – beispielsweise via Internetseite oder via Handyapplikation – unterscheiden. Der Anspruch auf Nutzung des Dienstes und dessen Funktionen besteht nur im Rahmen des aktuellen Standes der Technik.
            </p>
        </div>
        <div class="einr">
            <p class="p2"><b>e) </b> Der Kunde räumt NetImmobilien das zeitlich, geographisch und inhaltlich unbeschränkte Recht ein, die vom Kunden an NetImmobilien übermittelten Inhalte, Immobiliendaten sowie Fotos und die Bewertung, online und offline zu verwerten. Das gilt auch zugunsten von mit 
                NetImmobilien verbundenen Unternehmen. Die Rechtseinräumung erfolgt unentgeltlich.
            </p>
        </div>
    </div>





    <div class="storyitem2 mrgtp">
        <h1>§14 Nutzungsrechte.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b> NetImmobilien übernimmt keine Gewähr für den Abschluss eines Miet- oder Kaufvertrages.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>NetImmobilien übernimmt keine Gewährleistung für technische Mängel, insbesondere für die ständige und ununterbrochene Verfügbarkeit der Website oder der von NetImmobilien genutzten Portale Dritter. NetImmobilien haftet nicht für die fehlerfreie Wiedergabe der vom Nutzer eingegebenen Inhalte.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Bei Nichterreichbarkeit des Angebots kann der Nutzer unseren Kundendienst über contact@netimmobilien.com kontaktieren.</p>
        </div>
    </div>



    <div class="storyitem2 mrgtp">
        <h1>§15 Nutzungsrechte.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b> Der Kunde sichert zu, während der gesamten Geschäftsbeziehung sowie der damit verbundenen Vermarktung der Immobilie, berechtigt zu sein, als Verkäufer oder Vermieter die Geschäftsbeziehung einzugehen und über die fragliche Immobilie zu verfügen. Der Kunde wird NetImmobilien sämtliche für den Vermarktungsprozess zweckmäßigen Daten und Dokumente zur Verfügung zu stellen und in abgestimmtem Maße zu Zwecken der Vermarktung zu übermitteln.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b> Der Kunde sichert NetImmobilien zu, dass an den vom Kunden bereitgestellten Informationen, Daten und Materialien keine Rechte Dritter bestehen, die den Kunden oder NetImmobilien in der Nutzung einschränken. NetImmobilien wird durch den Kunden von sämtlichen Ansprüchen Dritter freigestellt, die aus einer Verletzung der beschriebenen Rechte von Dritten entstehen.</p>
        </div>
       
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§16 Nutzungsrechte.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b> Der Schutz von personenbezogenen Daten und der Privatsphäre Betroffener wird von uns sehr ernst genommen. 
                Um einen größtmöglichen Schutz zu gewährleisten, ist es für uns selbstverständlich, dass wir die geltenden Datenschutzbestimmungen einhalten.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>Verantwortliche Stelle und Diensteanbieter ist die NetImmobilien, Marktplatz 25, 
                65824 Schwalbach am Taunus. Sie können sich bei allen Fragen, die den Datenschutz betreffen, jederzeit an den Datenschutzbeauftragten von 
                Tumuratas Group wenden, beispielsweise per E-Mail an info@tumuratas-group.de. Weitere Details zur Nutzung ihrer Daten und zu den I
                hnen zustehenden Rechten finden Sie in unseren Datenschutzhinweisen sowie im Vorfeld geschäftlicher Beziehungen.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Wir verstehen uns als Full-Service-Anbieter im Bereich der Immobilienvermarktung. Mit den vorliegenden Geschäftsbedingungen möchten wir Ihnen daher zusätzliche Hinweise im Vorfeld der Verarbeitung personenbezogener Daten geben, wenn Sie in eine geschäftliche Beziehung mit uns treten:
                Widerrufsrecht: Sie können eine erteilte Einwilligung jederzeit mit Wirkung für die Zukunft ganz oder teilweise sowohl gegenüber uns als auch gegenüber Dritten widerrufen mit der Folge, dass die bis zum Zeitpunkt des Widerrufs erfolgten Verarbeitungen rechtmäßig bleiben. Bitte beachten Sie, dass im Falle eines Widerrufs die Leistung nicht oder nur teilweise in Anspruch genommen werden können 
                und es zu Überschneidungen zwischen der Verarbeitung und Ihrem Widerruf kommen kann. Nutzen Sie im Falle eines Widerrufs bitte unsere E-Mail-Adresse contact@netimmobilien.com</p>
        </div>
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§17 Haftungsbeschränkung.</h1>
        <div class="einr">
            <p class="p2"><b>a) </b> Im Rahmen der Nutzung unserer Website und Dienste haften wir unbeschränkt für Schäden, die durch NetImmobilien oder 
                durch unsere gesetzlichen Vertreter, Angestellte oder 
                Erfüllungsgehilfen vorsätzlich oder grob fahrlässig verursacht wurden.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>In Fällen der fahrlässigen Verletzung von nur unwesentlichen Vertragspflichten haftet NetImmobilien nicht. Im Übrigen ist die Haftung 
                von Tumuratas Group für fahrlässig verursachte Schäden auf das beschränkt, womit typischerweise gerechnet werden muss.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>c) </b>Die vorstehenden Haftungsbeschränkungen gelten nicht für Schäden aus der Verletzung des Lebens, des Körpers, 
                oder der Gesundheit, sowie für Schäden, die auf Arglist beruhen.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>d) </b>Soweit die Haftung von NetImmobilien ausgeschlossen oder beschränkt ist, gilt dies auch für die 
                persönliche Haftung von Arbeitnehmern, Vertretern und Erfüllungsgehilfen.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>e) </b>Die Inhalte dieser Website und der E-Mails werden mit größtmöglicher Sorgfalt erstellt. NetImmobilien übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. 
                Die Nutzung der abrufbaren Inhalte erfolgt auf eigene Gefahr des Nutzers.</p>
        </div>
    </div>




    <div class="storyitem2 mrgtp">
        <h1>§18 Urheber- und Nutzungsrechte.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b> Alle Firmenzeichen, Logos, Texte, Bilder und sonstigen Daten auf unserer Website unterliegen dem Urheberrecht. Die Nutzung unserer Website berechtigt Sie nicht zur weitergehenden gewerblichen Nutzung dieser Informationen. 
                Die Veränderung, Weiterverarbeitung und Nutzung in Medien aller Art ist nicht gestattet. Eine weitergehende 
                gewerbliche Nutzung ist nur mit vorheriger schriftlicher Zustimmung von NetImmobilien möglich.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b> Die nicht genehmigte Nutzung unserer Informationen sowie der Logos oder Marken Dritter, die auf unserer Website abgebildet sind, 
                verletzt unsere Rechte bzw. die Rechte Dritter und ist nicht gestattet.</p>
        </div>
       
    </div>

    <div class="storyitem2 mrgtp">
        <h1>§19 Anwendbares Recht und Gerichtsstand.
        </h1>
        <div class="einr">
            <p class="p2"><b>a) </b> Für sämtliche Rechtsgeschäfte oder andere rechtliche Beziehungen mit uns gilt das Recht der Bundesrepublik Deutschland. Das UN-Kaufrecht (CSIG) sowie etwaige sonstige 
                zwischenstaatliche Übereinkommen, auch nach ihrer Übernahme in das deutsche Recht, finden keine Anwendung. Diese Rechtswahl schließt ein, dass dem Kunden mit gewöhnlichem Aufenthalt in einem EU-Staat oder der Schweiz der gewährte Schutz, der sich durch zwingende 
                Bestimmungen des Rechts dieses Staates ergibt, nicht entzogen wird.</p>
        </div>
        <div class="einr">
            <p class="p2"><b>b) </b>Geschäftsverkehr mit Kaufleuten und mit juristischen Personen des öffentlichen Rechts wird als Gerichtsstand für alle Rechtsstreitigkeiten betreffend diese AGB sowie etwaige 
                Einzelverträge unser Geschäftssitz vereinbart. Wir sind in diesem Fall auch berechtigt, einschließlich Wechsel- und Scheckklage, an jedem anderen gesetzlichen Gerichtsstand zu klagen. Ein etwaiger 
                ausschließlicher Gerichtsstand bleibt von vorstehender Regelung unberührt.</p>
        </div>
       
    </div>


    <div class="storyitem2 mrgtp">
        <h1>§ 20 Salvatorische Klausel.
        </h1>
        <p class="p2">Sollte eine oder mehrere der vorstehenden Bestimmungen ungültig sein, so soll die
            Wirksamkeit der übrigen Bestimmungen hiervon nicht berührt werden. Dies gilt auch,
            wenn innerhalb einer Regelung ein Teil unwirksam ist, ein anderer Teil aber wirksam.
            Die jeweils unwirksame Bestimmung soll zwischen den Parteien durch eine Regelung
            ersetzt werden, die den wirtschaftlichen Interessen der Vertragsparteien am nächsten
            kommt und im Übrigen den vertraglichen Vereinbarungen nicht zuwiderläuft.</p>
    
    </div>


    


</div>







{% endblock content %}

{% block javascriptblock %}

{% endblock javascriptblock %}

