{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/facilitymanagement.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/winterdienst.css' %}">
{% endblock cssfile %}

{% block title %}
Hausmeisterservice - Tumuratas Group
{% endblock title%}

{% block content %}
<div class="fachead" style="background-image:url({% static 'img/hausmeister.jpeg'%})"></div>
<div class="underhead">
    <h1>Hausmeisterservice</h1>
</div>
<div class="faccontent winterf1" id="hs1">
    <h3 class="bolded">Ihr zuverlässiger Hausmeisterservice in Wiesbaden und ganz Hessen.</h3>
    <div class="txtfac">
        Sie suchen einen zuverlässigen und erfahrenen Hausmeisterdienst in Wiesbaden oder Umgebung? Dann sind Sie bei uns richtig. Mit über 15 Jahre Erfahrung bieten wir kompetente und gewissenhafte Betreuung und Pflege von Wohnhäusern, Geschäftshäusern, Bürogebäude, Seniorenheime und Einkaufszentren an.</br></br>
        Für jede Größe der Objekte bieten wir höchste Qualität. Durch hochwertige Ausstattung und geschultes Personal sind wir imstande vielfältige Tätigkeiten anzubieten.


    </div>
    
</div>

<div class="faccontent winterf1">
    <h3>Unsere Hausmeistertätigkeiten beinhalten:</h3>
    <div class="stichproben rowlist">
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Objektüberwachung / Reinigung / Pflege / Notdienste / kleine Reparaturtätigkeiten</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Überwachung und Pflege der Tiefgaragenanlagen
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Leuchtmittelkontrolle und ggf. Austausch</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Dachrinnenreinigung
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Hohe Maßstäbe bei Ausrüstung und Fahrzeugen
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Reinigung der Bodenrinnen, Fuß roste und Wassereinläufe
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Unkrautbeseitigung
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Müllbereitstellung
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Reinigung der Bodenrinnen, Fuß roste und Wassereinläufe
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Beaufsichtigung von Handwerkern

            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Tausch von Klingelschilder


            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Beaufsichtigung von Handwerkern

            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Ausführung von einfachen Kleinreparaturen, wie z. B. Austausch defekter Sicherungen und defekter Glühbirnen

            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Meldungen von Schäden an den Verwalter / Eigentümer, die nur durch Dritte beseitigt werden können.

            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">24h Notdienst

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascript %}

{% endblock javascript %}