{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/impressum.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
{% endblock cssfile %}

{% block title %}
Impressum - NetImmobilien
{% endblock title%}



{% block content %}

<div class="impressumcont">
    <div class="imprhead">
        <h1>Impressum.</h1>
    </div>
    <div class="impressumgridcont">
        <div class="impa griditem">
            <h1>NetImmobilien</h1>
            <div class="gfitem">
                <div class="gfsymitem"></div>
                <div class="gftxtitem">
                    <b>Nihat Jar Topuzoglu</b> - Geschäftsführer
                </div>
            </div>
        </div>
        <div class="impb griditem">
            <h1>Kontakt</h1>
            <p>contact@netimmobilien.com</p>
            <!--<p>0611 90004570</p>-->
        </div>
        <div class="impc griditem" id="impc">
            <h1>Adresse</h1>
            <p>Marktplatz 25</p>
            <p>65824 Schwalbach am Taunus</p>     
        </div>
        <div class="impd griditem">
            <h1>Social Media</h1>
            <div class="gfitem">
                <a href="#">
                    <div class="gfsymitem">
                        <div class="innergfsym" style="background-image:url({% static 'img/facebook.png'%})"></div>
                    </div>
                    <div class="gftxtitem">
                        Facebook
                    </div>
                </a>
            </div>
            <div class="gfitem">
                <a href="#">
                    <div class="gfsymitem">
                        <div class="innergfsym" style="background-image:url({% static 'img/instagram.png'%})"></div>
                    </div>
                    <div class="gftxtitem">
                        Instagram
                    </div>
                </a>
            </div>
            <div class="gfitem">
                <a href="#">
                    <div class="gfsymitem">
                        <div class="innergfsym" style="background-image:url({% static 'img/linkedin.png'%})"></div>
                    </div>
                    <div class="gftxtitem">
                        LinkedIn
                    </div>
                </a>
            </div>
            <div class="gfitem">
                <a href="#">
                    <div class="gfsymitem">
                        <div class="innergfsym" style="background-image:url({% static 'img/xing.png'%})"></div>
                    </div>
                    <div class="gftxtitem">
                        Xing
                    </div>
                </a>
            </div>
        </div>
        <div class="impe griditem">
            <h1>Entwicklung & Hosting</h1>
            <p id="racinedeuxnameimp">Racine Deux</p>
            <div class="graphicdirector">
            <p class="gfsymitem2" id="cgd">
                CEO
            </p>
            <div class="gftxtitem" id="or">
                Nihat Jar Topuzoglu
            </div>
            </div>
        </div>
        <div class="impf griditem">
            <h1>Rechtliches</h1>
            <p>Hauptniderlassung und Sitz: Wiesbaden</p>
            <p>Gewerbeerlaubnis nach §34c GewO durch die Kreisstadt Groß-Gerau</p>
            <p>Aufsichtsbehörde: Ordnungsamt Schwalbach am Taunus</p>
            <!--<h1 class="mrgtp2">Registereintrag</h1>
            <p>Eintragung im Handelsregister.</p>
            <p>Registergericht: Wiesbaden</p>
            <p>Finanzamt: Wiesbaden</p>
            <p>IdNr.: 98 248 015 675</p>-->

        </div>
    </div>
   
<div class="storyitem2 mrgtp">
    <h1>Haftung für Inhalte.
    </h1>
    <p>Als Dienstanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Dienstanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der 
        Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>

</div>
<div class="storyitem2 mrgtp">
    <h1>Haftung für Links.
    </h1>
    <p class="p2">Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.
        Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>

</div>

<div class="storyitem2 mrgtp">
    <h1>Urheberrecht.
    </h1>
    <p class="p2">Die durch NetImmobilien erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen 
        Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf 
        eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

</div>

<div class="storyitem2 mrgtp" id="id838">
    <h1>Online-Streitbeilegungsplattform und Verbraucherstreitbeilegung
    </h1>
    <p class="p2">
        Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
    </p>

</div>

</div>







{% endblock content %}

{% block javascriptblock %}

{% endblock javascriptblock %}

