{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/impressum.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
{% endblock cssfile %}

{% block title %}
Willkommen bei der Tumuratas-Group
{% endblock title%}



{% block content %}



<div class="impressumcont">
    <div class="imprhead">
        <h1>Widerrufsbelehrung.</h1>

    </div>

   
<div class="storyitem2 mrgtp">
    <h1>Wiederrufsrecht.
    </h1>
    <p>Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
        Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.
        Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Tumuratas Group, Inh. Özdal Tumuratas, Dotzheimer Straße 14, 65185 Wiesbaden, Tel 0611 90004570, info@tumuratas-group.de) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
        Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
    </p>

</div>
<div class="storyitem2 mrgtp">
    <h1>Folgen des Widerrufs.
    </h1>
    <p class="p2">Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
        Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen soll, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.
    </p>

</div>

<div class="storyitem2 mrgtp">
    <h1>Muster Widerrufsformular.
    </h1>
    <p class="p2">Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück. 
        An Tumuratas Group, Inh. Özdal Tumuratas, Dotzheimerstr. 14, 65185 Wiesbaden, Tel.: 0611 90004570, E-Mail: info@tumuratas-group.de 
    </p>
    <p class="p2">
        Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*) / die Erbringung der folgenden Dienstleistung (*) 
    </p>
    <p class="p2">
        Bestellt am (*) / erhalten am (*)    
    </p>
    <p class="p2">
        Name des / der Verbraucher (s)    
    </p>
    <p class="p2">
        Anschrift des / der Verbraucher(s)
    </p>
    <p class="p2">
        Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)
    </p>

</div>

<div class="storyitem2 mrgtp">
    <h1>Online-Streitbeilegungsplattform und Verbraucherstreitbeilegung
    </h1>
    <p class="p2">Die EU-Kommission bietet die Möglichkeit zur Online-Streitbeilegung auf einer von ihr betriebenen Online-Plattform.
         Diese Plattform ist unter dem externen Link http://ec.europa.eu/consumers/odr/ zu erreichen. Zu einer Teilnahme an einem Streitbeilegungsverfahren sind wir nicht verpflichtet und nehmen an einem solchen Verfahren auch nicht teil.</p>

</div>



</div>




{% endblock content %}

{% block javascriptblock %}

{% endblock javascriptblock %}

