{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/facilitymanagement.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/winterdienst.css' %}">


{% endblock cssfile %}

{% block title %}
Winterdienst - Tumuratas Group
{% endblock title%}
{% block content %}
<div class="fachead" style="background-image:url({% static 'img/winterdienst.jpeg'%})"></div>
<div class="underhead">
    <h1>Winterdienst</h1>
</div>

<div class="faccontent winterf1">
    <h1>Ihr professioneller Ansprechpartner für Winterdienst und Gartenarbeiten in Wiesbaden.</h1>
    <h3>Egal ob privat oder gewerblich.</h3>
    <div class="stichproben rowlist">
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Über 20 Jahre Erfahrung</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Langjährige, qualifizierte Mitarbeiter</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Schnelles, zielorientiertes Arbeiten</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Transparente Beratung
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Hohe Maßstäbe bei Ausrüstung und Fahrzeugen
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Faire Preise und Erstkundenrabatt
            </div>
        </div>
    </div>
</div>
<div class="faccontent winterf1" id="wf2">
    <h3>Leistungen im Überblick.</h3>
    <div class="stichproben rowlist">
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Übernahme des Winterdienstes
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Glätte-/Eis-/Schneebeseitigung
            </div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Schneeverlagerung</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Räumdienst und Streudienst</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Streugutbeseitigung
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascript %}

{% endblock javascript %}