#rentenlist {
    margin-top: -15px;
    margin-left: 150px;
    width: 580px;
}

.rentenitem {
    margin-left: 60px;
}

.rententxt {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.point2 {
    margin: 15px;
    padding: 4px;
}

@media(max-width:870px) {

    #rentenlist {
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    #rentenlist .textpointitem2 {
        font-size: 0.9em;
    }


}