.impressumcont {
    min-height: 100vh;
    height: auto;
    padding-top: 60px;
    margin-top: 20px;
    padding-bottom: 60px;
    width: 90%;
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;

}

.imprhead {
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imprhead h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 35px;
}

.impressumgridcont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px 280px 300px 480px;
    grid-template-areas:
        "impa impa"
        "impb impb"
        "impc impc"
        "impd impe"
        "impf impf";
}

.impf {
    grid-area: impf;
}

.mrgtp2 {
    margin-top: 60px;
}


.impd {
    grid-area: impd;
}

.impa {
    grid-area: impa;
}

.impb {
    grid-area: impb;
}

#impc {
    grid-area: impc;
}

.impe {
    grid-area: impe;
}


.griditem {
    background-color: #f7f7f7;
    border-radius: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.griditem h1 {
    font-size: 0.9em;
    max-width: 80%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.graphicdirector {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.racinedeuxnameimp {
    font-weight: 700;
}

#cgd {
    font-size: 0.6em;
    font-weight: 500;
    color: #626262;
}

#or {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.griditem p {
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
    max-width: 450px;
    max-width: 80%;
    margin-top: 10px;
    text-align: center;
}

.gfitem {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.gfitem a {
    display: flex;
    flex-direction: row;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.gfsymitem2 {
    font-size: 0.7em;
    max-width: 50px;
}

.gftxtitem {
    font-size: 0.9em;
    max-width: 80%;

}

.innergfsym {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.gfsymitem {
    width: 24px;
    height: 24px;
    background-color: #131313;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media(max-width: 890px) {

    .impressumgridcont {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 360px 360px 320px 320px 380px;
        grid-template-areas:
            "impa"
            "impb"
            "impc"
            "impd"
            "impe"
            "impf";
    }

    .griditem {
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .imprhead h1 {
        font-size: 2em;
        font-weight: 700;
        margin: 35px;
        max-width: 80%;
    }

    .gfsymitem {
        width: 23px;
        height: 23px;
    }

    .gftxtitem {
        font-size: 0.8em;
        width: 260px;
        display: flex;
        justify-content: flex-end;
    }

    .innergfsym {
        width: 15px;
        height: 15px;
    }

    .impf p {
        font-size: 0.8em;
    }

    .impf {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #id838 h1 {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.6em;
    }


}


@media(max-width: 700px) {

    .gftxtitem {
        font-size: 0.8em;
    }

    .gfitem {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }


}