{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/facilitymanagement.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/winterdienst.css' %}">



{% endblock cssfile %}

{% block title %}
Auslandsimmobilien - Tumuratas Group
{% endblock title%}
{% block content %}
<div class="fachead" style="background-image:url({% static 'img/turkeyhome.jpg'%})"></div>
<div class="underhead">
    <h1>Immobilien in der Türkei</h1>
</div>
<div class="faccontent winterf1">
    <h3>Mit Tumuratas Group zum Hauseigentümer werden</h3>
    <div class="txtfac">
        Die Türkei ist eine gute Wahl für ausländische Käufer, die eine Immobilie als Investition oder zum Wohnen kaufen möchten. Die hervorragende Lage des Landes mit einfachem Zugang zu den Handelsrouten in den Nahen Osten, Europa und Asien sowie die Nähe zu spannenden kulturellen Zielen wie Istanbul oder Ankara ist ein großer Anziehungspunkt für Investoren.</br></br>
        Als Ausländer eine Immobilie in der Türkei zu kaufen ist ziemlich einfach. Wer träumt nicht von einem Eigenheim? Die günstigen Wohnungspreise machen das möglich, zudem ist das Potential des türkischen Immobilienmarktes äußerst verlockend.</br></br>
        Problematisch wird der Immobilienerwerb im Ausland erst, wenn Sie in unprofessionelle Hände geraten. Deswegen ist die Wahl des Immobilienbüros, des Verkäufers bzw. der Baufirma äußerst wichtig. Lassen Sie sich dafür Zeit, holen Sie sich ausreichend Informationen vorab ein.
    </div>
    <div class="stichproben rowlist" id="rentenlist">
        <div class="horizontalitembox rentenitem" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Bekomme ich die Immobilie wirklich, wenn ich sie kaufe?</div>
        </div>
        <div class="horizontalitembox rentenitem" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Wie ist mein Immobilienkauf rechtlich abgesichert?
            </div>
        </div>
        <div class="horizontalitembox rentenitem" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Wie funktioniert das alles? Ich spreche gar kein türkisch.</div>
        </div>
        <div class="horizontalitembox rentenitem" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Und andere Fragen beschäftigen Sie wahrscheinlich derzeit.
            </div>
        </div>
    </div>
</div>

<div class="faccontent winterf1">
    <h3>Wofür wir stehen</h3>
    <div class="txtfac">
        Tumuratas Group kennt die anfänglichen Sorgen und Zweifel seiner potentiellen Kundschaft, die sich ernsthaft mit einem Immobilienkauf in der Türkei befassen. Aus diesem Grund haben wir einen umfassenden Ratgeber zusammengestellt, der Sie über alle Einzelheiten rund um den Kauf einer Immobilie in der Türkei aufklärt.</br></br>
        Wussten Sie zum Beispiel, dass Sie die türkische Staatsbürgerschaft über ein Immobilieninvestment erhalten können? Klicken Sie einfach auf die Themen, die Sie besonders interessieren und erfahren Sie gleich mehr. Selbstverständlich dürfen Sie uns auch kontaktieren – ganz unverbindlich.</br></br>
        Unsere Makler verfügen über jahrelange Erfahrung auf dem türkischen Immobilienmarkt und kennen die aktuellen Gesetze bzw. Bestimmungen bestens. Ebenso können wir gemeinsam Lösungen in Form einer Immobilienfinanzierung erarbeiten, damit Ihr Traum einer eigenen Wohnung in der Türkei in Erfüllung geht.</br></br>
        Sie möchten sich Ihre Wunschobjekte live vor Ort anschauen? Kein Problem, wir holen Sie von Ihrem Hotel zu einer Besichtigung ab. Sollten Sie gerade nicht in der Türkei sein, dann ist unsere Immobilienreise genau richtig. Lesen Sie hier mehr darüber oder nehmen Sie direkt Kontakt mit uns auf.</br></br>
        Wir von Tumuratas Group e bieten ausschließlich geprüfte Objekte von hoher Qualität an, die keinerlei Probleme beim Kauf und Wiederverkauf bereiten. Außerdem garantieren wir Ihnen nur Immobilien zu zeigen, die Ihren Vorgaben entsprechen.</br></br>

        Natürlich begleiten wir Sie durch den gesamten Verkaufsprozess von Anfang an bis zum Ende – Sie müssen noch nicht einmal türkisch verstehen, unsere Immobilienmakler sprechen fließend deutsch. Selbst nach Ihrem Immobilienkauf in der Türkei ist Tumuratas Group für Sie da: Sie können sich jederzeit an uns wenden, wenn Sie z.B. Ihre Wohnung vermieten oder wieder verkaufen möchten.</br></br>
        
        Profitieren Sie von unserer jahrelangen Berufserfahrung – bei Tumuratas Group sind Sie in den allerbesten Händen, um eine Immobilie in der Türkei zu kaufen oder verkaufen!
    </div>
</div>



{% endblock content %}

{% block javascript %}

{% endblock javascript %}