{% extends 'base.html' %}
{% load static %}
{% block cssfile %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/facilitymanagement.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/winterdienst.css' %}">


{% endblock cssfile %}

{% block title %}
Immobilienpflege - Tumuratas Group
{% endblock title%}
{% block content %}
<div class="fachead" style="background-image:url({% static 'img/facilitymanagement.jpg'%})"></div>
<div class="underhead">
    <h1>Immobilienpflege</h1>
</div>

<div class="faccontent winterf1">
    <h3>Pflegeimmobilie als Kapitalanlage in Deutschland</h3>
    <div class="txtfac">
        Viele Senioren befassen sich aus wirtschaftlichen oder gesundheitlichen Gründen mit Verkaufsabsichten, obwohl sie am liebsten in den eigenen vier Wänden wohnen bleiben würden. Mit einem Verkauf auf Rentenbasis lässt sich ein Auszug vermeiden.</br></br>
        Eine Pflegeimmobilie als Kapitalanlage zu kaufen ist die perfekte Alternative zur klassischen vermieteten Eigentumswohnung. Ohne Arbeit und Mieter-Stress – mit attraktiver Rendite und monatlichen Mietzahlungen.</br></br>
        In der Vergangenheit wurden Pflegeheime und Betreute-Wohnen-Einrichtungen meistens im ganzen an große Investoren verkauft. Heute werden diese häufig in einzelne Appartements (wie Eigentumswohnungen), aufgeteilt und stehen somit auch dem „normalen“ Anleger als Kapitalanlage zur Verfügung.
    </div>

</div>
<div class="faccontent winterf1">
    <h3>Vorteile von Pflegeimmobilien als Kapitalanlage.</h3>
    <div class="stichproben rowlist">
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Regelmäßige Mietzahlungen, dank Betreiber-Pachtvertrag, für Ihre Pflegeappartements.</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Wertanlage Pflegeimmobilie: Überdurchschnittliche Mietzinsen bis zu 3,90% p.a.</div>
        </div>
        <div class="horizontalitembox" id="horizontal">
            <div class="point2">
                <div class="innerpointpic"></div>
            </div>
            <div class="textpointitem2">Und der Verkauf Ihrer Pflegeimmobilie ist jederzeit möglich.</div>
        </div>
    </div>
</div>


<div class="faccontent winterf1" id="wf2">
    <h3>Leistungen im Überblick.</h3>
    <div class="txtfac">
        Kauf eines einzelnen Pflegeappartements in einem Pflegeheim oder einer Betreuten Wohnen-Einrichtung, die nach Wohnungseigentumsgesetz (WEG) aufgeteilt ist. Typische Pflegeappartement-Formen sind: Appartements in stationären Pflegeheimen oder Appartements/Wohnungen mit Service-Angebot („Betreutes Wohnen“).</br></br>
        Ähnlich dem Kauf einer Eigentumswohnung: Kauf einer „richtigen“ Immobilie mit eigenem Grundbuchblatt. Das Appartement kann mit einer Bank finanziert werden und auch verschenkt, vererbt oder weiterverkauft werden. Das Pflegeappartement ist nicht zur Eigennutzung gedacht, sondern rein zur Kapitalanlage und Vermietung. Es gibt jedoch ein bevorzugtes Belegungsrecht in allen Einrichtungen des Betreibers für Eigentümer und nahe Verwandte.</br></br>
        Feste Vermietung und Mietzahlungen: Die Vermietung findet nicht direkt an den Bewohner statt, sondern das gesamte Haus, inklusive des gekauften Appartements, ist an einen Betreiber fest vermietet. Meist für einen festgelegten Zeitraum von 20-30 Jahren + Verlängerungsoption des Betreibers. Die Mietzahlungen an den Eigentümer sind daher unabhängig davon, ob das Apartment aktuell von dem Betreiber an einen Bewohner vermietet ist oder nicht.</br></br>
        Wenig Aufwand und niedrige Instandhaltungsaufwendungen für den Eigentümer: Der Betreiber kümmert sich um die Vermietung und Betrieb. Außerdem übernimmt der Betreiber die meisten Instandhaltungsarbeiten, sodass für den Eigentümer weniger Aufwand entsteht, als bei einer vermieteten Eigentumswohnung.</br></br>
        Deutschlandweiter Kauf einer Pflegeimmobilie sinnvoll: Da für Eigentümer kein Aufwand mit der Vermietung verbunden ist, muss das Apartment nicht im näheren Umkreis des Eigentümers liegen, sondern sollte anhand gezielter Standortkriterien vom Käufer ausgewählt werden.
    </div>
    
</div>


{% endblock content %}

{% block javascript %}

{% endblock javascript %}